.page-qty{
	main{
		background-color:#FFEBBD;
		height:70vh;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: repeat(8, 1fr);

		h1{
    			grid-column:1 / span 4;
    			grid-row:1;
    			align-self:end;
    	}

        h3{
            font-size: 3rem;
        }

    	.fryguy{
    			grid-column: 6 / span 3;
    			grid-row:1 / span 2;
    			justify-self:center;
    	}

    	p{
            font-size:32px;
    		grid-column:1 / span 4;
    		grid-row:2;
    		align-self:start;
    	}

    	.count{
    		grid-column:1 / span 4;
    		grid-row:4;
    		align-self:start;
    		display:grid;
    		grid-template-columns: auto auto auto;
            place-items:center;
    		column-gap:1rem;
            input{
                justify-self:start;
            }

            svg{
    			justify-self:center;
                cursor:pointer;
    		}
    	}

    	.price{
    		grid-column: 6 / span 3;
    		grid-row:3;
			justify-self:center;
			align-self:end;    		
    	}
	}

footer{
	.backarrow{
		align-self:center;;

	}
}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align:center;
  width:250px;
}
